name: Build & Ship
on:
  pull_request:
  merge_group:
jobs:
  compose-ui-tests:
    runs-on: macos-latest
    timeout-minutes: 25

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'adopt'
          cache: 'gradle'

      - name: Run instrumented tests
        uses: ReactiveCircus/android-emulator-runner@v2.29.0
        with:
          api-level: 29
          script: ./gradlew connectedCheck

  unit-tests-and-detekt:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4

      - name: Set Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Run Detekt
        uses: eskatos/gradle-command-action@v2
        with:
          arguments: detekt

      - name: Run Unit Tests
        run: ./gradlew test --stacktrace

  iOS-build:
    runs-on: macos-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Build macOS shared code
        run: ./gradlew :shared:compileKotlinIosSimulatorArm64

      - name: iOS set up
        uses: ./.github/actions/ios-action

      - name: Build iOS app
        run: xcodebuild build -workspace iosApp/iosApp.xcworkspace -configuration Debug -scheme iosApp -sdk iphoneos -destination name='iPhone 14' -verbose

  maestro-ui-tests-and-upload-apk:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    outputs:
      app: androidApp/build/outputs/apk/debug
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'adopt'
          cache: 'gradle'
      - run: ./gradlew :androidApp:assembleDebug
      - uses: mobile-dev-inc/action-maestro-cloud@v1.8.0
        with:
          api-key: ${{ secrets.MAESTRO_CLOUD_API_KEY }}
          app-file: androidApp/build/outputs/apk/debug/androidApp-debug.apk
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: androidApp/build/outputs/apk/debug/androidApp-debug.apk