name: Build & Ship
on:
  pull_request:
  merge_group:
jobs:
  ui-tests:
    runs-on: macos-latest
    timeout-minutes: 25

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'adopt'
          cache: 'gradle'

      - name: Run instrumented tests
        uses: ReactiveCircus/android-emulator-runner@v2.28.0
        with:
          api-level: 29
          script: ./gradlew connectedCheck

  unit-tests-detekt-build:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4

      - name: Set Java 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Run Detekt
        uses: eskatos/gradle-command-action@v2
        with:
          arguments: detekt

      - name: Run Unit Tests
        run: ./gradlew test --stacktrace

      - name: Assemble Debug
        uses: eskatos/gradle-command-action@v2
        with:
          arguments: assembleDebug
  iOS-build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Build macOS shared code
        run: ./gradlew :common:compileKotlinMacOSArm64

      - name: Build iOS app
        run: xcodebuild -workspace midjourney-images-compose-multiplatform/iosApp/iosApp.xcodeproj/project.xcworkspace -configuration Debug -scheme midjourney-images-compose-multiplatform -sdk iphonesimulator